<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wudgaby.oauth2.uaa.mapper.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wudgaby.oauth2.uaa.entity.Role">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="role_name" property="roleName" />
        <result column="role_code" property="roleCode" />
        <result column="role_desc" property="roleDesc" />
        <result column="status" property="status" />
        <result column="deleted" property="deleted" />
        <result column="sort" property="sort" />
        <result column="is_sys" property="sys" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sr.create_time,
        sr.update_time,
        sr.create_by,
        sr.update_by,
        sr.id, sr.role_name, sr.role_code, sr.role_desc, sr.status, sr.deleted, sr.sort, sr.is_sys
    </sql>

    <select id="findByUrl" resultType="string">
        select role_code from sys_role sr
                                  join sys_role_resource srr on sr.id = srr.role_id
                                  join sys_resource res on res.id = srr.resource_id
        where res.res_url = #{url}
    </select>

    <select id="findByUrlAndMethod" resultType="string">
        select role_code from sys_role r
                                  join sys_role_resource srr on r.id = srr.role_id
                                  join sys_resource res on res.id = srr.resource_id
        where res.res_url = #{url} and res.res_method = #{method}
    </select>
</mapper>
