<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wudgaby.platform.flowable.helper.mapper.FlowNodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wudgaby.platform.flowable.helper.entity.FlowNode">
        <id column="id" property="id" />
        <result column="flow_id" property="flowId" />
        <result column="node_name" property="nodeName" />
        <result column="node_key" property="nodeKey" />
        <result column="node_type" property="nodeType" />
        <result column="assign_ids" property="assignIds" />
        <result column="assign_name" property="assignName" />
        <result column="apportion_type" property="apportionType" />
        <result column="sign_type" property="signType" />
        <result column="level" property="level" />
        <result column="expr" property="expr" />
        <result column="allow_optional" property="allowOptional" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, flow_id, node_name, node_key, node_type, assign_ids, assign_name, apportion_type, sign_type, level, expr, allow_optional, create_time
    </sql>

</mapper>
