<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wudgaby.platform.auth.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wudgaby.platform.auth.model.entity.User">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="status" property="status" />
        <result column="version" property="version" />
        <result column="deleted" property="deleted" />
        <result column="account" property="account" />
        <result column="password" property="password" />
        <result column="user_name" property="userName" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="sex" property="sex" />
        <result column="avatar" property="avatar" />
    </resultMap>

    <resultMap id="userMap" type="com.wudgaby.platform.auth.model.entity.User" autoMapping="true">
        <collection property="roles" ofType="com.wudgaby.platform.auth.model.entity.Role">
            <result column="role_id" property="id"/>
            <result column="role_name" property="roleName"/>
            <result column="role_code" property="roleCode"/>
        </collection>
        <collection property="permissions" ofType="com.wudgaby.platform.auth.model.entity.Resource"
                    column="role_id" select="com.wudgaby.demo.securitydemo.mapper.ResourceMapper.findByRoleId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        u.create_time,
        u.update_time,
        u.create_by,
        u.update_by,
        u.id, u.status, u.version, u.deleted, u.account, u.password,
        u.user_name, u.phone, u.email, u.sex, u.avatar
    </sql>

    <select id = "findByUserName" resultMap="userMap">
        select u.* , r.id as role_id, r.role_name, r.role_code
        from sys_user u
                 LEFT JOIN sys_user_role sur on u.id = sur.user_id
                 LEFT JOIN sys_role r on sur.role_id = r.id
        where u.account = #{username}
    </select>

    <select id = "findByPhone" resultMap="userMap">
        select u.* ,r.role_name, r.role_code
        from sys_user u
                 LEFT JOIN sys_user_role sur on u.id = sur.user_id
                 LEFT JOIN sys_role r on sur.role_id = r.id
        where u.phone= #{phone}
    </select>

    <select id = "findByEmail" resultMap="userMap">
        select u.* ,r.role_name, r.role_code
        from sys_user u
                 LEFT JOIN sys_user_role sur on u.id = sur.user_id
                 LEFT JOIN sys_role r on sur.role_id = r.id
        where u.email= #{email}
    </select>

    <select id = "findByAccount" resultMap="userMap">
        select u.* ,r.role_name, r.role_code
        from sys_user u
                 LEFT JOIN sys_user_role sur on u.id = sur.user_id
                 LEFT JOIN sys_role r on sur.role_id = r.id
        where u.account = #{account}
    </select>
</mapper>
