<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Spring Security SSO</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
</head>

<body>
<div class="container">
    <div class="col-sm-12">
        <h1>Spring Security SSO</h1>
        <a class="btn btn-primary" href="http://localhost:8093">User Client</a>
        <a class="btn btn-primary" href="http://localhost:8094/client1">SSO Client1</a>
        <a class="btn btn-primary" href="http://localhost:8095/client2">SSO Client2</a>
    </div>
</div>
</body>
</html>